<style>
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
</style>

<script type="text/javascript">
  defer(function(){
    $(document).ready(function() {
      let desc = $("#warning-description");
      desc.toggle();
      $("#warning-box").click(function() { desc.slideToggle("fast") });
    })
  })
</script>

<div class="warning-msg" id="warning-box">
  <i class="fa fa-warning"></i>
  Trouble commenting?
  <div id="warning-description">
    <br>
    Click <a href="{{ .Site.BaseURL }}/appendix/commenting/">here</a> for info on how to post and why it's been tricky lately
  </div>
</div>


