{{ .Page.Scratch.Add "pano-total" 1  }}

<div id='panorama-{{ .Page.Scratch.Get "pano-total" }}' style="width: 100%; padding-bottom: 66.66%; margin-bottom: 5px"></div>
<script>
pannellum.viewer('panorama-{{ .Page.Scratch.Get "pano-total" }}', {
    "type": "equirectangular",
    "panorama": {{ .Get "src" }},
    "hfov": 80,
    "minHfov": 30,
    "maxHfov": 90,
    "mouseZoom": false,
	{{ with (.Get "minPitch") }} "minPitch": {{ int . }}, {{ end }}
	{{ with (.Get "maxPitch") }} "maxPitch": {{ int . }}, {{ end }}
	{{ with (default -70 (.Get "yaw")) }} "yaw": {{ int . }}, {{ end }}
	{{ with (.Get "pitch") }} "pitch": {{ int . }}, {{ end }}
});
</script>
