{{ .Page.Scratch.Add "pano-total" 1  }}

<div id='panorama-{{ .Page.Scratch.Get "pano-total" }}' style="width: 100%; padding-bottom: 66.66%; margin-bottom: 5px"></div>
<script>
pannellum.viewer('panorama-{{ .Page.Scratch.Get "pano-total" }}', {
    "type": "equirectangular",
    "panorama": {{ .Get "src" }},
    "mouseZoom": false,
	{{ with (.Get "minPitch") }} "minPitch": {{ int . }}, {{ end }}
	{{ with (.Get "maxPitch") }} "maxPitch": {{ int . }}, {{ end }}
	{{ with (default -70 (.Get "yaw")) }} "yaw": {{ int . }}, {{ end }}
	{{ with (.Get "pitch") }} "pitch": {{ int . }}, {{ end }}
	{{ with (default 30 (.Get "minHfov")) }} "minHfov": {{ int . }}, {{ end }}
	{{ with (default 90 (.Get "maxHfov")) }} "maxHfov": {{ int . }}, {{ end }}
	{{ with (default 80 (.Get "hfov")) }} "hfov": {{ int . }}, {{ end }}
	{{ with (default -5 (.Get "autoRotate")) }} "autoRotate": {{ int . }}, {{ end }}
	{{ with (default "true" (.Get "draggable")) }} "draggable": {{ eq "true" . }}, {{ end }}
});
</script>
{{- if isset .Params "caption" -}}<p class="small-img" style="text-align: center; max-width: 30em; margin-top: 0">
	<i>{{ .Get "caption" }}</i>
</p>{{- end -}}
